body{
	background-color: white;
	margin-right: 20%;
	margin-left: 20%;
	margin-top: 10px;
}


h1{
    color: #326693;			
	padding-left:10px;		
	border-left: 10px solid #31a9ee;	
  	border-bottom: 1px dashed #31a9ee; 	
}

